/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * The code below is based on the Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Only the navbar styles were preserved and even then some of these styles have been modified
 */
.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    text-transform: none;
    font-family: Raleway;
    background-color: #000;
    min-height: 44px;
}

.navbar-custom .lab-text{
    display: inline;
    vertical-align: text-top;
}

.navbar-custom .navbar-brand>img {
    display: inline;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li {
    vertical-align: middle;
    margin: 5px 10px;
    padding: 0 5px;
    border: 1px #00B0F0 solid;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    color: #00B0F0;

    background-color: inherit;

}

.navbar-custom .nav li:hover{
    vertical-align: middle;
    margin: 6px 11px;
    padding: 0 5px;
    border: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    font-family: Raleway;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    /*background-color: rgba(255,255,255,.3);*/
    font-weight: bold;
    /*font-family: helvetica-neue-lt-bold;*/
    font-family: Raleway;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-toggle {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        /*padding: 5px 0;*/
        /*padding-bottom: 10px;*/
        border-bottom: 0;
        letter-spacing: 1px;
        /*background: 0 0;*/
        /*background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.5) 60%, rgba(0,0,0,0));*/
        background: rgba(0,0,0,0.9);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .navbar-nav>li>a {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
