.load-image {
        width: 80%;
        height: auto;
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
    }

    .load-text {
        position:inherit    ;
        text-transform: uppercase;
        font-family: 'Lato', 'Segoe UI Light';
        text-align: center;
        background-color: #00b0f0;
        font-size: 1.4em;
        border-radius: 15px;
        width: 90%;
        margin: auto;
        padding: 20px;

        height: auto;
        margin-top: 0;
    !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-wrapper {
        vertical-align: center;
        text-align: center;
        width: 100%;
        color: #FFF;
    }

@media screen and (min-width: 800px){
    .load-image {
        position: relative;
        width: 80%;
        height: auto;
        padding-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .load-text {
        position: inherit;
        text-transform: uppercase;
        font-family: 'Lato', 'Segoe UI Light';
        text-align: center;
        background-color: #00b0f0;
        font-size: 1.5em;
        border-radius: 15px;
        width: 90%;
        margin: auto;

        height: 10%;
        margin-top: 0;
    !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-wrapper {
        position: relative;
        vertical-align: center;
        text-align: center;
        width: 100%;
        color: #FFF;
    }
}


@media screen and (min-width: 1200px) {
    .load-image {
        width: 80%;
        height: auto;
        padding-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .load-text {
        text-transform: uppercase;
        font-family: 'Lato', 'Segoe UI Light';
        text-align: center;
        background-color: #00b0f0;
        font-size: 2.5em;
        border-radius: 15px;
        width: 90%;
        margin: auto;

        height: 10%;
        margin-top: 0;
    !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inner-wrapper {
        vertical-align: center;
        text-align: center;
        width: 100%;
        color: #FFF;
    }
}