        <!-- theme stylesheet-->
{% load blog_tags %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" href="" />

{% block head %}
{% endblock %}

    <!-- Load some fonts -->
    <!-- Raleway: https://fonts.google.com/specimen/Raleway -->
    {#    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />#}
    {#    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">#}
    {#    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700|Raleway:400,800|Roboto:400,700" rel="stylesheet">    #}
    {#    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">#}
    <!-- Raleway 300 is light, 400 is regular, 500 is medium, 600 is semi-bold, 700 is bold -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



    <!-- Our custom style sheets -->
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>

    {% block stylesheets %}

    {% endblock %}


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Material Design Bootstrap -->
      <link href="{% static 'website/css/mdb.min.css' %}" rel="stylesheet">
    <!-- Buttons CSS -->
    <link href="{% static 'website/css/buttons.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/navbar.css'%}?version=0.0.2">
    <title>
        {% block pagetitle %}
            {{ request.resolver_match.url_name }}
        {% endblock %}
    </title>


    {% block scripts %}
        
    {% endblock %}


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124720949-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124720949-1');
    </script>

</head>
<body>
     <!-- JQuery -->
      <script type="text/javascript" src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="{% static 'website/js/popper.min.js' %}"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="{% static 'website/js/mdb.min.js' %}"></script>
    {% block navbar %}
        <header>
            <h1 class="logo">Logo</h1>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                    <ul>
                        {% with request.resolver_match.url_name as url_name %}
                            <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'website:index' %}">Home</a></li>
                            <li class="{% if url_name == 'about' %}active{% endif %}"><a href="{% url 'website:about' %}">About</a></li>
                            <li class="{% if url_name == 'resume' %}active{% endif %}"><a href="{% url 'website:resume' %}">Resume</a></li>
                            <li class="{% if url_name == 'blog' %}active{% endif %}"><a href="{% url 'blog:post_list' %}">Blog</a></li>
                            <li class="{% if url_name == 'projects' %}active{% endif %}"><a href="{% url 'website:projects' %}">Projects</a></li>
                            <li class="{% if url_name == 'sandbox' %}active{% endif %}"><a href="{% url 'website:sandbox' %}">Sandbox</a></li>
                        {% endwith %}
                    </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small special-color-dark pt-4">
        <!--Footer Elements-->
        <div class="container text-center text-md-left" style="padding-left: 25px; padding-right: 25px;">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!--Content-->
                    <h5 class="text-uppercase">Johnson Kuang</h5>
                    <p>Contact: (425) 273-3269, johnsonkuang@outlook.com</p>
                </div>
                <!--Grid column-->
                <div class="col-md-3 mb-md-0 mb-3">

                </div>
                <!--Grid column-->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!--navigation-->
                </div>
            </div>
        </div>
        <div class="container">
            <span>
                <!--Facebook-->
                <a class="btn-floating btn-fb" type="button" role="button"><i class="fa fa-facebook"></i></a>
            </span>
            <span>
                <!--Linkedin-->
                <a class="btn-floating btn-li" type="button" role="button"><i class="fa fa-linkedin"></i></a>
            </span>
            <span>
                <!--Instagram-->
                <a class="btn-floating btn-ins" type="button" role="button"><i class="fa fa-instagram"></i></a>
            </span>
            <span>
                <!--Youtube-->
                <a class="btn-floating btn-yt" type="button" role="button"><i class="fa fa-youtube"></i></a>
            </span>
            <span>
                <!--Github-->
                <a class="btn-floating btn-git" type="button" role="button"><i class="fa fa-github"></i></a>
            </span>
            <span>
                <!--Reddit-->
                <a class="btn-floating btn-reddit" type="button" role="button"><i class="fa fa-reddit-alien"></i></a>
            </span>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a href="https://www.freeprivacypolicy.com/privacy/view/5cded7b468a8dbf6de6ad8c947a7c33d">Privacy Policy</a> | <a href="{% url 'website:terms' %}">Terms of Use</a> | &copy; 2018 Copyright: A Johnson Kuang Production | <em>Ask and You Shall Receive</em> | <a href="{% url 'website:index' %}">johnsonkuang.com</a>
        </div>
    </footer>

</body>
</html>
