        <!-- theme stylesheet-->
{% load blog_tags %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" href="" />

    <!-- Load some fonts -->
    <!-- Raleway: https://fonts.google.com/specimen/Raleway -->
    {#    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />#}
    {#    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">#}
    {#    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700|Raleway:400,800|Roboto:400,700" rel="stylesheet">    #}
    {#    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">#}
    <!-- Raleway 300 is light, 400 is regular, 500 is medium, 600 is semi-bold, 700 is bold -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}"/>

    <!-- A modified version of the grayscale css -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/grayscale.css' %}?version=1"/>

    <!-- Our custom style sheets -->
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>


<!-- Bootstrap CSS-->
        <link rel="stylesheet" href="{{ STATIC_URL }}website/vendor/bootstrap/css/bootstrap.min.css">

        <!-- Font Awesome CSS-->
        <link rel="stylesheet" href="{{ STATIC_URL }}website/vendor/font-awesome/css/font-awesome.min.css">
        <!-- Custom icon font-->
        <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/fontastic.css">
        <!-- Google fonts - Open Sans-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <!-- Fancybox-->
        <link rel="stylesheet" href="{{ STATIC_URL }}blog/vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}blog/css/style.default.css" id="theme-stylesheet">
    {% block stylesheets %}

    {% endblock %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>


	<!-- jQuery: v1.9.1 necessary for Bootstrap's JavaScript plugins -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Bootstrap: Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Grayscale template -->
	<!--<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'website/js/grayscale.js' %}"></script>
	<script src="{% static 'website/js/backtop.js' %}"></script>
    -->
    <title>
        {% block pagetitle %}
            {{ request.resolver_match.url_name }}
        {% endblock %}
    </title>


    {% block scripts %}
        
    {% endblock %}


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124720949-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124720949-1');
    </script>

</head>
<body>
    {% block navbar %}

        <header class="header">
      <!-- Main Navbar-->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Navbar Brand -->
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand --><a href="index.html" class="navbar-brand">Johnson Kuang</a>
              <h1>Logo</h1>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
          <!-- Navbar Menu -->
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              {% with request.resolver_match.url_name as url_name %}
                <li class=" nav-item"><a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'website:index' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'website:about' %}" class="{% if url_name == 'about' %}active{% endif %} nav-link">About</a></li>
                <li class=" nav-item"><a href="{% url 'website:resume' %}" class="{% if url_name == 'resume' %}active{% endif %} nav-link">Resume</a></li>
                <li class="nav-item"><a href="{% url 'blog:post_list' %}" class="nav-link {% if url_name == 'blog' %}active{% endif %} ">Blog</a></li>
                <li class="nav-item"><a href="{% url 'website:projects' %}" class="{% if url_name == 'projects' %}active{% endif %} nav-link">Projects</a></li>
                <li class=" nav-item"><a href="{% url 'website:sandbox' %}" class="nav-link {% if url_name == 'sandbox' %}active{% endif %}">Sandbox</a></li>
            {% endwith %}
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul>
          </div>
        </div>
      </nav>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>
