{% extends "website/base.html" %}

{% load staticfiles %}


{% block pagetitle %}Johnson Kuang{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'website/css/index.css' %}?version=2"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'website/js/load.js' %}?version=1.0.2"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
{% endblock %}



{% block content %}

    <!--TODO: find way to hide the rest of the page on load-->
    <div style="display:none; z-index: 99; max-width: 100%;" id="popup">
        <div class="fullscreen-bg">
            <video loop muted autoplay poster="" class="fullscreen-bg__video" style="max-width: 100%; z-index: 99">
                <source src="{{ MEDIA_URL }}videos/load.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <!--TODO adjust the height of the sections to make it more aesthetically pleasing-->
    <!--TODO get graphic for the welcome page-->
    <section>
        <div style="height: 100vh">
        </div>
    </section>

    <!--TODO: crop the about photo-->
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ MEDIA_URL }}images/About_Slide.jpg" style="min-height: 60vh;"></div>
    <section>
        <div class="container">
            <div style="height: 40vh;">
                <h1 class="">About</h1>
            </div>
        </div>
    </section>

    <!--TODO integrate a slider with parallax-->
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ MEDIA_URL }}images/Vacation_Slide_3.jpg" style="height:50vh;"></div>

    <section>
        <div class="container">
            <div style="height: 40vh;">
                <h1 class="">Blog</h1>
            </div>
        </div>
    </section>

    <div class="parallax-window" data-parallax="scroll">
        <!--For the parallax code feature-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="{% static 'website/js/parallax.js' %}"></script>
{% endblock %}
